body {
  background-color: #2e2f33;
  font-family: 'Source Code Pro';
  font-size: 15px;
}

header {
  font-family: 'Poppins';
  font-size: 15px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar-collapse {
  display: flex;
  flex-direction: column;          /* Stacked on small screens */
  justify-content: center;         /* Center horizontally */
  align-items: center;             /* Center vertically */
  width: 100%;                     /* Full width */
}

/* For larger screens: space out navbar items */
@media (min-width: 577px) {
  .navbar-collapse {
    flex-direction: row;           /* Align items in a row */
    justify-content: space-between; /* Space out items */
    align-items: center;           /* Center vertically */
  }

  .navbar-nav {
    display: flex;
    justify-content: space-between; /* Space out navbar items */
    width: 100%;                    /* Take up full width */
    margin: 0;                      /* Remove margins */
    padding: 0;                     /* Remove padding */
  }

  .navbar-nav .nav-item {
    margin: 0 15px; /* Space out each nav item */
  }
}

.navbar a {
  display: block;
  padding: 8px;
  text-align: center;
  padding: 14px;
  color: #dedcdc;
  text-decoration: none;
  margin-left: 5%;
}

.navbar a:hover {
  color: #71f0a9;  /* Retain hover effect */
}

.navbar-toggler-icon {
  color: #dedcdc;
}

#ascii {
  font-family: 'Courier New', Courier, monospace;
  white-space: pre-wrap;
  padding-left: 30px;
}



@media (max-width: 755px) {
  #intro {
    text-align: center;
  }
  #ascii{
    display: none;
  }
}

@media (max-width: 575px){
  #name{
    text-align: center;
    padding-left: 25%;
  }
}

